<hr class="hr-line">
<h3 class="title" style="font-size:30px;">
    {% if site.blog %}<a class="social-btn" href="https://{{ site.blog }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-bold"></i></a>{% endif %}
    {% if site.dchh %}<a class="social-btn" href="https://{{ site.dchh }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-link"></i></a>{% endif %}
    {% if site.tuil %}<a class="social-btn" href="https://{{ site.tuil }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-picture-o"></i></a>{% endif %}
    {% if site.yun %}<a class="social-btn" href="https://{{ site.yun }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-cloud-download"></i></a>{% endif %}
    {% if site.wordpress %}<a class="social-btn" href="https://{{ site.wordpress }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-wordpress"></i></a>{% endif %}
</h3>
